@page
@model WebApplication1.Pages.GetBookModel
@{
}
<div class="container">
    <form method="post">
        <table class=" table ">
            <tr>
                <td>BookId</td>
                <td><input type="number" asp-for="@Model.Book.Book_id"></input></td>
            </tr>
            <tr>
                <td>BookName</td>
                <td><input type="text" asp-for="@Model.Book.Book_name"></input></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="number" asp-for="@Model.Book.Book_price"></input></td>
            </tr>
            <tr>
                <td>Language</td>
                <td>
                    <select asp-for="@Model.Book.language">
                        <option value="Telugu">Telugu</option>
                        <option value="Hindi">Hindi</option>
                        <option value="English">English</option>
                        
                    </select>
                </td>
            </tr>
            <tr>
                <td>Author</td>
                <td><input type="text" asp-for="@Model.Book.Author"></input></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="ADD"></input></td>
            </tr>
        </table>
    </form>
    <table class="table table-bordered">

        <thead>
            <tr>
                <th>Book_Id</th>
                <th>Book_Name</th>
                <th>Book_Price</th>
                <th>Language</th>
                <th>Author</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Books)
            {
                <tr>
                    <td>@item.Book_id</td>
                    <td>@item.Book_name</td>
                    <td>@item.Book_price</td>
                    <td>@item.language</td>
                    <td>@item.Author</td>
                </tr>
            }




        </tbody>








    </table>
</div>
